* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}
body {
    position: relative;
}

/* Colors
light  background (same as previous): #dfd0fbff
alt light background: #f3f8ff
accent: #49108b
accent:#d800a6
footer: #27005d
alt dark background: #25076bff
previous version main: #401c93ff
 */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.hidden {
    display: none;
}

h1 {
    font-family: "Belleza", sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-family: "Belleza", sans-serif;
    font-size: 2.5rem;
}
h3 {
    font-family: "Belleza", sans-serif;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.sub-header-box {
    display: flex;
    justify-content: flex-start;
    padding: 0rem 0rem 2rem 2rem;
}

.sub-header {
    font-size: 2.5rem;
}

.center-me {
    display: grid;
    place-items: center;
    align-items: center;
}
