* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}
body {
    position: relative;
}

/* Colors
light  background (same as previous): #dfd0fbff
alt light background: #f3f8ff
accent: #49108b
accent:#d800a6
footer: #27005d
alt dark background: #25076bff
previous version main: #401c93ff
 */

h1 {
    font-family: "Belleza", sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-family: "Belleza", sans-serif;
    font-size: 2.5rem;
}
h3 {
    font-family: "Belleza", sans-serif;
    font-size: 1.5rem;
}

/* *** class = text *** */
p {
    font-size: 1.5rem;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.section-padding {
    padding: 3.5rem 2rem;
}

.hidden,
.hidden-1,
.hidden-2,
.hidden-3 {
    display: none;
}

.sub-header-box {
    display: flex;
    justify-content: flex-start;
    /* padding: 0rem 0rem 2rem 2rem; */
    padding-bottom: 1.5rem;
}

.sub-header {
    font-size: 2.5rem;
}

.center-me {
    display: grid;
    place-items: center;
    align-items: center;
}

.tooltip {
    position: relative;
    /* display: flex;
    justify-content: center; */
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 8rem;
    /* padding-right: 16px; */
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    background-color: #49108b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 0%;
    /* margin-left: 16px; */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
