/* ****** HAMBURGER ********* */
/* TARGET BELOW 850px - tablet */
@media (max-width: 53em) {
    .hamburger {
        display: block;
    }

    /* ***** TURN INTO AN X WHEN ACTIVE ****** */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-main-menu.active {
        left: 0;
    }
    .nav-main-menu {
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 64px;
        gap: 0;
        background-color: #fffffdff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-items {
        margin: 10px 0;
    }
    .nav-logo-img {
        width: 80%;
    }
    .grid-hero-container {
        grid-template-columns: 1.5fr 1fr;
    }
    .slogan {
        color: blue;
        font-size: 1.75rem;
    }

    .grid-hero-container {
        gap: 1.5rem;
    }
    .slogan {
        padding-bottom: 1.5rem;
    }
    .name {
        font-size: 2.5rem;
    }
    .title {
        font-size: 1.75rem;
        padding-bottom: 1.5rem;
    }
    .mission {
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    .btn-contact-link {
        font-size: 1.25rem;
        background-color: #401c93ff;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 9px;
    }
    .contact-img {
        max-width: 100%;
    }
    .contact-text-box {
        padding-right: 1.5rem;
    }
    .contact-details {
        padding: 0.25rem;
        font-size: 1.25rem;
    }
    .email-link {
        font-size: 1.25rem;
    }
    .btn-send-form {
        font-size: 1.25rem;
        background-color: #401c93ff;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 9px;
        justify-self: center;
        cursor: pointer;
    }
}

/* *****  BELOW 700 - because of hero title **** */
@media (max-width: 44em) {
    .nav-logo-img {
        width: 50%;
    }
    .slogan {
        font-size: 1.25rem;
    }
    .name {
        font-size: 2rem;
    }
}

/* ***** BELOW 600 - DELETE CONTACT IMG **** */

@media (max-width: 38em) {
    .contact-img {
        display: none;
    }
    .grid-contact-container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
        padding: 0rem 1rem;
    }
}

/* TARGET BELOW 480px - mobile phone */
@media (max-width: 30em) {
    .nav-logo-img {
        width: 75%;
    }
    .grid-hero-container {
        padding: 1rem 1rem;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .slogan {
        color: red;
        font-size: 1.25rem;
        padding-bottom: 1.5rem;
    }
    .name {
        font-size: 1.75rem;
    }
    .title {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .mission {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
    .btn-contact-link {
        justify-self: center;
        font-size: 1rem;
        background-color: #401c93ff;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 4px 8px;
        border-radius: 9px;
    }

    /* .grid-contact-container {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
        padding: 0rem 1rem;
    } */

    /* .contact-img {
        display: none;
    } */

    .sub-header {
        font-size: 1.25rem;
        margin: 0 1rem;
    }

    .contact-text-box {
        padding-right: 1rem;
    }

    .title-contact {
        padding-bottom: 1.5rem;
    }
    .contact-details {
        padding: 0.25rem;
        font-size: 1rem;
    }
    .email-link {
        font-size: 1.25rem;
    }
    .contact-form-container {
        padding-right: 1rem;
    }
    .form-control {
        font-size: 1rem;
    }

    .btn-send-form {
        font-size: 1.25rem;
        background-color: #401c93ff;
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 9px;
        justify-self: center;
        cursor: pointer;
    }
}
