.header {
    background-color: #dfd0fbff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem !important;
}

.nav-container {
    width: 1200px;
    /* padding: 2rem 2rem; */
    /* min-height: 64px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-img {
    max-width: 70%;
}

.nav-menu {
    list-style: none;
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    text-decoration: none;
    color: #49108b;
    transition: 0.7s ease;
    font-size: 1.25rem;
    /* font-weight: 400; */
    text-transform: uppercase;
}

.nav-link:hover {
    color: #dfd0fbff;
    background: #49108b;
    padding: 4px 8px 4px 8px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.section-hero {
    background-color: #dfd0fbff;
    padding-top: 1.5rem !important;
    /* padding-top: 0rem;
    padding-bottom: 3.5rem; */
}

.grid-hero-container {
    /* padding: 0rem 2rem 0rem 2rem; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.5rem;
    align-items: center;
}

.name {
    font-size: 3.5rem;
    /* padding-bottom: 2rem; */
}

.title {
    font-size: 2.5rem;
    padding-bottom: 3.5rem;
}

.mission {
    line-height: 1.5;
    padding-bottom: 3.5rem;
}

.btn-contact-link {
    font-size: 1.5rem;
    background-color: #49108b;
    color: #dfd0fbff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
    cursor: pointer;
}

.btn-contact-link:hover {
    background-color: #d800a6;
    color: #f5f5dc;
}

.hero-img {
    max-width: 100%;
}

/* ** ABOUT SECTION ** */

.about-section {
    background-color: #f3f8ff;
    /* padding: 3.5rem 0rem; */
}
.flex-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.wrapper {
    margin: auto;
    width: 100%;
}

.about-img {
    max-width: 33%;
    padding-right: 3.5rem;
    float: left;
}

.about-text-box {
    position: relative;
}

.text {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-bottom: 1rem;
}

.btn-show-at-608 {
    display: none;
    position: absolute;
    right: 33%;
}

.btn-more-about-me {
    /* *** hidden by default *** */
    font-size: 0.75rem;
    background-color: #49108b;
    color: #dfd0fbff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 9px;
    cursor: pointer;
}

.modal-about-me {
    /* position: relative; */
    background-color: #f3f8ff;
    font-size: 1rem;
}

/* ** SERVICES SECTION ** */

.services-section {
    background-color: #dfd0fbff;
    /* padding: 3.5rem 0rem; */
}

.service-header {
    /* ** Set min-height to keep aligned because of varying title lenght *** */
    min-height: 6rem;
    justify-self: center;
    align-self: start;
}

.grid-services-container {
    display: grid;
    /* padding: 0rem 2rem 0rem 2rem; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.serv1-img-box,
.serv2-img-box,
.serv3-img-box {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1.5rem;
}

.service-img {
    max-width: 100%;
}

/* .serv1-box {
    padding-bottom: 1.5rem;
} */
.text {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.serv-separator {
    display: none;
}

/* .fancy-line-top1 {
    display: none;
} */

.text-more {
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.modal {
    /* position: relative; */
    background-color: #dfd0fbff;
}

.btn-open-modal {
    font-size: 1rem;
    background-color: #49108bff;
    color: #dfd0fbff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 9px;
    cursor: pointer;
}

.btn-open-modal:hover {
    background-color: #d800a6;
    color: #f5f5dc;
}

.btn-close-modal {
    font-size: 1rem;
    background-color: #d800a6;
    color: #f5f5dc;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 9px;
    cursor: pointer;
}

.btn-close-modal:hover {
    background-color: #49108bff;
    color: #dfd0fbff;
}

/* **** CONTACT SECTION ***** */

.contact-section {
    background-color: #f3f8ff;
}

.grid-contact-container {
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
    align-items: center;
}

.contact-img-box {
    grid-row: 1/3;
    align-self: start;
}

.contact-img {
    max-width: 100%;
}

/* .contact-text-box {
    padding-bottom: 1rem;
} */
.contact-name {
    padding-bottom: 1.5rem;
}

.contact-details {
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

.contact-phone-icon {
    stroke: purple;
    width: 24px;
    height: 24px;
}

.email-link,
.location-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.email-link:hover,
.location-link:hover {
    background: #49108b;
    color: #dfd0fbff;
    padding: 4px 8px 4px 8px;
}

.contact-location-icon {
    stroke: purple;
    width: 24px;
}

/* **** FORM in the Grid-contact-container  *** */

.contact-form-container {
    width: 100%;
    place-items: center;
    /* background-color: aqua; */
}

.thank-you-container {
    display: none;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    font-size: 1.25rem;
    width: 100%;
}

.btn-send-form {
    font-size: 1.5rem;
    background-color: #49108b;
    color: #dfd0fbff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
    justify-self: center;
    cursor: pointer;
}

.btn-send-form:hover {
    background-color: #d800a6;
    color: #f5f5dc;
}

/* *** FOOTER *** */
.footer-section {
    background-color: #27005d;
}
.grid-footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    /* align-items: center; */
}

.footer-text {
    color: #dfd0fbff;
}
