/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
body {
    position: relative;
}

/* Colors
light  background (same as previous): #dfd0fbff
alt light background: #f3f8ff
accent: #49108b
accent:#d800a6
footer: #27005d
alt dark background: #25076bff
previous version main: #401c93ff
 */

/* ******* UTILITIES **************** */
section {
    padding: 3.5rem 2rem;
}

h1 {
    font-family: "Belleza", sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-family: "Belleza", sans-serif;
    font-size: 2.5rem;
}
h3 {
    font-family: "Belleza", sans-serif;
    font-size: 1.5rem;
}

.service-title {
    font-family: "Belleza", sans-serif;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    transition: 0.7s ease;
    font-size: 1.25rem;
}

a:hover {
    background-color: #d800a6;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.sub-header {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 8rem;
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    background-color: #49108b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 0%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* ******* HEADER ****************** */
.header {
    background-color: #dfd0fbff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0rem 2rem;
}

.nav-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-img {
    max-width: 70%;
}

.nav-menu {
    list-style: none;
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: #49108b;
    text-transform: uppercase;
}

.facebook-icon {
    width: 28px;
    padding-top: 8px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* ****** Section HERO********** */

.hero {
    background-color: #dfd0fbff;
    padding-top: 1.5rem !important;
}

.wrapper {
    display: inline-block;
    margin: auto;
    width: 100%;
}

.marie-josee-hero-img {
    float: right;
    max-width: 33%;
    padding-left: 3.5rem;
}

.lead {
    padding-bottom: 1.5rem;
}

.styliste {
    font-size: 1.75rem;
    padding-bottom: 2rem;
}

.title-name {
    font-size: 3.5rem;
}

.sub-title {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.mission {
    font-size: 1.5rem;
    line-height: 1.75;
    padding-bottom: 3.5rem;
}

.text {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 1.75rem;
}

.btn {
    border: none;
    font-size: 1rem;
    background-color: #49108bff;
    color: #dfd0fbff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 9px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d800a6;
    color: #f5f5dc;
}

.contact-link {
    align-self: flex-start;
    font-size: 1.5rem;
    padding: 16px 32px;
}

/* ** ABOUT SECTION ** */

.about {
    background-color: #f3f8ff;
}

.marie-josee-about-img {
    max-width: 33%;
    padding-right: 3.5rem;
    float: left;
}

/* ** SERVICES SECTION ** */

.services {
    background-color: #dfd0fbff;
}

.hr-separator {
    height: 0.75rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left, #49108b, #d800a6, #49108b);
    margin-bottom: 1.5rem;
}

.hr-services {
    display: none;
    width: 100%;
    height: 0.75rem;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left, #49108b, #d800a6, #49108b);
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.services-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers button horizontally */
}

.service-title {
    padding-bottom: 1.5rem;
}

.services-img {
    max-width: 100%;
    padding-bottom: 1.5rem;
}

.hidden {
    display: none;
}

/* **** TEMOIGNAGES SECTION ***** */

.reviews {
    background-color: #f3f8ff;
}
.reviews-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.reviewer {
    font-weight: 800;
    padding-bottom: 1rem;
}

.quote {
    font-style: italic;
}

/* **** CONTACT SECTION ***** */

.contact {
    background-color: #dfd0fbff;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.contact-grid > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Optional: Center vertically if needed */
}

.contact-name {
    padding-bottom: 1.75rem;
    font-size: 2rem;
}

.icon-img {
    width: 24px;
}

.email-link,
.location-link {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1.5rem;
}

.form-control {
    width: 80%;
    margin-bottom: 1.5rem;
}

/* *** FOOTER *** */

footer {
    background-color: #27005d;
    padding: 1.5rem 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

/* *** col-1 *** */
.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
}

.footer-link-icon {
    width: 1rem;
    height: 1rem;
}

.owner-name {
    font-size: 1.25rem;
    color: white;
    padding-bottom: 0.5rem;
}
.owner-title {
    font-size: 1rem;
    color: white;
    padding-bottom: 1.5rem;
}

.copyright {
    font-size: 0.6rem;
    color: white;
}

.copyright-icon {
    width: 0.6rem;
}

/* *** Col-2 *** */

.col-2 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.footer-sub-header {
    font-size: 1.25rem;
    color: white;
    padding-bottom: 1rem;
}

.footer-services-list {
    list-style: none;
    margin-left: 1rem;
}
.footer-serv-item {
    padding-bottom: 0.25rem;
}

.footer-serv-link {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
