* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

/* Colors
blue: #401c93ff
background: #dfd0fbff
pink: #d7118aff
back: #fffffdff */

.utility-container {
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    font-family: "Belleza", sans-serif;
    font-size: 3.5rem;
}

h2 {
    font-family: "Belleza", sans-serif;
    font-size: 2.5rem;
}
h3 {
    font-family: "Belleza", sans-serif;
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

header {
    background-color: #dfd0fbff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    /* LE CONTAINER */
    width: 1200px;
    padding: 0 1rem;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-img {
    width: 100%;
}

.nav-menu {
    /* UL A DROITE DU FLEX CONTAINER */
    padding-right: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #d7118aff;
}

.nav-link {
    transition: 0.7s ease;
    /* color: #ffd79d; */
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #f162ff;
}

/* HAMBURGER DIV */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* SWITCH TO HAMBURGER AND TURN INTO AN X */

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 64px;
        gap: 0;
        background-color: #d902ee;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-items {
        margin: 10px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}
/* END HUMBERGER
******************************************************** */

.section-hero {
    background-color: #dfd0fbff;
}

.grid-hero-container {
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.5rem;
    align-items: center;
}

.slogan {
    font-family: "Belleza", sans-serif;
    font-size: 3.5rem;
    padding-bottom: 1rem;
}

@media (max-width: 56em) {
    .slogan {
        font-size: 2rem;
        color: red;
    }
    .nav-logo-img {
        width: 75%;
    }
}

.styliste-personnelle {
    margin-bottom: 4rem;
}

.mission {
    line-height: 1.25;
    padding-bottom: 4rem;
}

.mj-hero-image {
    max-width: 100%;
}

.btn-contact:link,
.btn-contact:visited {
    font-size: 1.5rem;
    background-color: #401c93ff;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */
}

/* ** SERVICE SECTION ** */

.flex-services-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 5rem 0;
}

.coming-soon {
    font-size: 3.5rem;
    text-align: center;
}

/* **** CONTACT SECTION ***** */

#contact-section {
    padding-top: 1rem;
    /* background-color: pink; */
    background-color: #dfd0fbff;
}

.contact-header-container {
    display: flex;
    justify-content: center;
    height: 5rem;
}

.grid-contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
    align-items: center;
    padding: 5rem 0;
}

.left-side {
    grid-row: 1/3;
    display: grid;
    place-items: center;
}

.mj-contact-img {
    max-width: 80%;
}

.contact-phone-icon {
    stroke: purple;
    width: 24px;
    height: 24px;
}
.contact-details-tel {
    padding: 1em 0;
}

.contact-details-email {
    padding-bottom: 1em;
}

.email-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding-bottom: 1em;
}

.contact-location-icon {
    stroke: purple;
    width: 24px;
}

/* **** FORM in the Grid-contact-container  *** */

.contact-form-container {
    width: 100%;
    /* display: none; */
    /* background-color: aqua; */
}

.thank-you-container {
    display: none;
}

.form-group {
    margin-bottom: 1.5em;
}

.form-control {
    font-size: 1.23em;
    width: 100%;
}

.btn-send-container {
    display: grid;
    place-items: center;
}

.btn-send-form {
    font-size: 1.5rem;
    background-color: #401c93ff;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
    justify-self: center;
    cursor: pointer;
}

/* *** FOOTER *** */
footer {
    background-color: black;
}
.grid-footer-container {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
    justify-items: center;
    align-items: center;
    color: white;
}

.google {
    width: 100%;
}

/* *** SERVICES TRIAL **** */

.section-container {
    background-color: bisque;
}

.section-title-container {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    gap: 50px;
}

.right-container {
    max-width: 30%;
}
.test-img {
    width: 100%;
}
.bottom-1row-container {
    text-align: center;
}

/* ** TESTING GRID ** */

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.bottom-grid-row {
    grid-column: 1/3;
    background-color: aquamarine;
} */
